<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small>VANI&nbsp;TUTORIALS</small>
                    <p class="glyphicon glyphicon-blackboard""></p>
                </h1>
                <!-- <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol> -->
            </div>
        </div>
        <!-- /.row -->
        <div class="col-md-6">
            <blockquote>
                <p><b>
                The mediocre teacher tells.  &#09; The good teacher explains.  &#09; The superior teacher demonstrates.  &#09;The great teacher inspires.</b></p>
                <footer>William Arthur Ward</footer>
            </blockquote>
        </div>

        <div class="col-md-6">
            <p>At Vani Tutorials, we believe in and care about inspiring students with questions and  brainstorming sessions. We encourage them to focus on their strengths and help them to learn from their mistakes. Last but not the least, honor them with 1 on 1 times by providing feedback :) <br>
            Finally, we make sure to convince our students that his/her challenges of learning are worthwhile.</p>
            <p>We at Vani Tutorials, modify and customize lessons to specifically target each individual student. We find and establish relevant links between the course content and student's individual experiences and understanding in the real world.</p>
            <p> Some of the other salient feature include:
                <li> Complete coverage of Syllabus. </li>
                <li> Personal attention <b><i> Max 15 students in a batch. </i></b></li>
                <li> Clarity of concepts instead of mere dictation. </li>
                <li> Comprehensive Mock Tests. </li>
                <li> Special attention for weak students. </li>
                <li> Specially designed <b>Crash Course</b> (For students seeking admission for Crash Course)</li>
            </p>
        </div>

               
                
                
        
    </div>