<h1 class="page-header">
    B.Com <small class="ttl">subjects</small>
</h1>
<div class="row">
  <div class="col-lg-12">
    <% @subjects = ['Mercantile Law', 'Indian Constitution', 'Financial Services', 'Fundamentals of Accounting', 'Corporate Accounting', 'Taxation', 'Cost Accounting', 'Auditing'] %>
    <%= render 'display_subjects', collection: @subjects %>
  </div>
</div>

<%#= render 'shared/page_title', title: "Create a new recipe" %>