<%= render 'panel' %>
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">B.Com Subjects List</h2>
            </div>
                <div class="col-md-4">
                    <div class="media">
                        
                        <div class="media-body">
                            <h4 class="media-heading glyphicon glyphicon-ok">&#9;Mercantile Law</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        
                        <div class="media-body">
                            <h4 class="media-heading glyphicon glyphicon-ok">&#9;Indian Constitution</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        
                        <div class="media-body">
                            <h4 class="media-heading glyphicon glyphicon-ok">&#9;Financial Services</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                        </div>
                    </div>
                </div>
            
            <!-- <div class="col-md-4">
                <div class="media">
                    
                    <div class="media-body">
                        <h4 class="media-heading glyphicon glyphicon-ok">&#9;International Business</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                    </div>
                </div>
                <div class="media">
                    
                    <div class="media-body">
                        <h4 class="media-heading glyphicon glyphicon-ok">&#9;Investment Management</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                    </div>
                </div>
                <div class="media">
                    
                    <div class="media-body">
                        <h4 class="media-heading glyphicon glyphicon-ok">&#9;Human Resource Management</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-4">
                <div class="media">
                    
                    <div class="media-body">
                        <h4 class="media-heading glyphicon glyphicon-ok">&#9;Training and Development</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                    </div>
                </div>
                <div class="media">
                    
                    <div class="media-body">
                        <h4 class="media-heading glyphicon glyphicon-ok">&#9;Service Eight</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                    </div>
                </div>
                <div class="media">
                    
                    <div class="media-body">
                        <h4 class="media-heading glyphicon glyphicon-ok">&#9;Service Nine</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                    </div>
                </div>
            </div> -->
    </div>
        <!-- /.row