<div class="jumbotron center">
  <h1>Welcome to Vani Tutorials</h1>
  <h2>The best place to learn and excel!</h2>
  <!--<p><%# = link_to "Sign up or log in", "#", class: "btn btn-primary btn-lg btn-xlarge" %></p>-->
</div>

<div class="row">
  <div class="col-md-4">
    <h2>BBA/BBM</h2>
    <p>The BBM degree is designed to teach students the skills necessary to perform leadership roles in the business and corporate world. </p> 
    <p>Coaching at Vani Tutorials involves training through practical experience in the form of case studies, projects, presentations apart from the regular coaching.</p>
    <p>Join us and deep dive in the world of management studies.</p>
    
    <p><%= link_to "View Subjects", mba_path, class: "btn btn-primary" %></p>
  </div>
  <div class="col-md-4">
    <h2>B.Com</h2>
    <p>A Bachelor of Commerce or B.Com is specially designed to provide students, managerial skills in commerce associated disciplines such as accounting, finance, marketing and advertising amongst others.</p>
    <p>Here at Vani Tutorials we offer excellent coaching for B.Com by implementing best teaching strategies which will make students comfortable with the subjects and easy to grasp the concepts.</p>
    
    <p><%= link_to "View Subjects", bcom_path, class: "btn btn-primary" %></p>
 </div>
  <div class="col-md-4">
    <h2>PU Commerce</h2>
    <!-- <p><blockquote>Without a solid foundation, you will have trouble creating anything of value.</blockquote></p> -->
    <p>PUC plays a major significant role in laying strong foundation of basic concepts of your professional career. Scoring well and understanding the basics thoroughly will boost your confidence going ahead.</p>
    <p>Here at Vani Tutorials we provide personalized mentoring to the PU Commerce students which includes regular class test, special classes for weak students, individual attention along with extensive preparation for final examination.</p>
    
    <p><%= link_to "View Subjects", pu_path, class: "btn btn-primary" %></p>
  </div>
</div>