<h1 class="page-header">
    PU <small class="ttl">subjects</small>
</h1>
<div class="row">
  <div class="col-lg-12">
    <% @subjects = ['Accounts', 'Business Studies', 'Statistics', 'Economics'] %>
    <%= render 'display_subjects', collection: @subjects %>
  </div>
</div>

<%#= render 'shared/page_title', title: "Create a new recipe" %>