$navbar-default-bg: #54646c;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #4ebcb4;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
  
#logo:hover {
  color: #fff;
  text-decoration: none;
}  

.jumbotron {
  background-image: asset-url('bg.png');
  background-size: cover;
  height: 300px;
}

.jumbotron h1 {
  color:  #3a3131;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2 {
  color:  #3a3131;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
    background-color: #a9b161;
}

.btn-xlarge:hover {
    color: #fff;
    text-decoration: none;
}

.hidden {
  display: none;
}

.thanks {
  background-image: asset-url('thank.png');
  background-size: cover;
  height: 600px;
}

.thanks h1 {
  color:  #3a3131;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.thanks h2 {
  color:  #3a3131;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.ttl {
  color: #333333;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

